<!DOCTYPE html>
<html lang="eng" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">

<head>
<meta charset="utf-8">
</head>
<body>
	<div layout:fragment="content">		
                <div class="page-header">
					<div class="row">
						<div class="col-lg-7 col-md-12 col-sm-12 col-12">
							<h5 class="text-uppercase">about teacher</h5>
						</div>
						<div class="col-lg-5 col-md-12 col-sm-12 col-12">
							<ul class="list-inline breadcrumb float-right">
								<li class="list-inline-item"><a href="#">Home</a></li>
								<li class="list-inline-item"><a href="#">Teachers</a></li>
								<li class="list-inline-item"> About Teacher</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="content-page">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="aboutprofile-sidebar">
								<div class="row">
									<div class="col-lg-3 col-md-12 col-sm-12 col-12">
										<div class="aboutprofile">
											<div class="card">
												<div class="card-body">
													<div class="row">
														<div class="col-lg-12 col-md-12 col-sm-12 col-12">
															<div class="aboutprofile-pic">
																<img  style="width: 100px;height:100px" th:src="@{'/agents/displayPhoto/' + ${agents.agtId}}" alt="Card image">
															</div>
															<div class="aboutprofile-name">
																<h5 class="text-center mt-2" th:text="${agents.agtNom} + ' ' + ${agents.agtPrenom}"></h5>
																<p class="text-center" th:text="${agents.agtFonction}"></p>
															</div>
															<ul class="list-group list-group-flush">
															  <li class="list-group-item"><b>D Abscences</b><a href="#" class="float-right">1000</a></li>
															  <li class="list-group-item"><b>D Congés</b><a href="#" class="float-right">700</a></li>
															  <li class="list-group-item"><b>D documents A</b><a href="#" class="float-right">5000</a></li>
															</ul>
														</div>
													</div>
												 </div>
											</div>
										</div>
										<div class="aboutme-profile mt-4">
											<div class="card">
												<div class="page-title">
													<h4 th:text=" ' A propos de ' + ' ' + ${agents.agtNom} + ' ' + ${agents.agtPrenom}"></h4>
												</div>
												<div class="card-body">
				                                       	<ul class="list-group list-group-flush">
														<li class="list-group-item"><b>ID</b><a href="#" class="float-right">FD-00d1</a></li>
														<li class="list-group-item"><b>Direction</b><a href="#" class="float-right">Male</a></li>
														<li class="list-group-item"><b>Sous-Direction</b><a href="#" class="float-right">30+</a></li>
														<li class="list-group-item"><b>Service</b><a href="#" class="float-right">P.H.D</a></li>
														<li class="list-group-item"><b>Syndicat</b><a href="#" class="float-right">Maths Teacher</a></li>
														<li class="list-group-item"><b>Joining Date</b><a href="#" class="float-right">16/09/2018</a></li>
													</ul>
													<div class="aboutme-start">
														<div class="row">
															<div class="col-lg-4">
																<div class="aboutme-starttitle text-uppercase">
																	37
																</div>
																<div class="aboutme-startname text-uppercase">
																	Papers
																</div>
															</div>
															<div class="col-lg-4">
																<div class="aboutme-starttitle text-uppercase">
																	52
																</div>
																<div class="aboutme-startname text-uppercase">
																	Seminors
																</div>
															</div>
															<div class="col-lg-4">
																<div class="aboutme-starttitle text-uppercase">
																	50
																</div>
																<div class="aboutme-startname text-uppercase">
																	Articles
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="aboutprofile-address mt-4">
											<div class="card">
												<div class="page-title">
													<h4>Address</h4>
												</div>
												<div class="card-body">
													<address class="text-center">
														4850 Edgewood Road <br>
														Washington, AR 71862
													</address>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-9 col-md-12 col-sm-12 col-12">
										<div class="profile-content">
											<div class="row">
												<div class="col-lg-12">
													<div class="card">
													<!-- Nav tabs -->
															<ul class="nav customtab">
																<li class="nav-item"><a href="#" class="nav-link active show">About Me</a></li>
															</ul>
																				
														<!-- Tab panes -->
														<div class="tab-content">
															<div class="tab-pane active show" id="tab1">
																<div id="biography" class="biography">
																	<div class="row">
																		<div class="col-md-3 col-6"> <strong>Nom & Prenom</strong>
																			<br>
																			<p class="text-muted" th:text="${agents.agtNom} + ' ' + ${agents.agtPrenom}"></p>
																		</div>
																		<div class="col-md-3 col-6"> <strong>Tel</strong>
																			<br>
																			<p class="text-muted" th:text="${agents.agtTel}"></p>
																		</div>
																		<div class="col-md-4 col-6"> <strong>Email</strong>
																			<br>
																		<a th:href="@{mailto:{to}(to=${agents.agtEmail})}"><p class="text-muted" th:text="${agents.agtEmail}"></p> </a>
																		</div>
																		<div class="col-md-2 col-6"> <strong>Service</strong>
																			<br>
																			<p class="text-muted" th:text="${agents.agtService}">Service</p>
																		</div>
																	</div>
																<!-- 	<hr>
																	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
																	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
																	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
																		industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
																		scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
																		into electronic typesetting, remaining essentially unchanged.</p>
																	<br>
																	<h4>Education</h4>
																	<hr>
																	<ul class="list-unstyled">
																		<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
																		<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
																		<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
																	</ul> 
																	-->
																	<br>
																	<h4>Experience</h4>
																	<hr>
																	<ul class="list-unstyled">
																		<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
																		<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
																		<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
																		<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
																		<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
																		<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
																	</ul>
																	<br>
																	<h4>Formations,Conferences,</h4>
																	<hr>
																	<ul class="list-unstyled">
																		<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
																		<li class="list-item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
																	</ul>
																	<br>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
            <div class="notification-box">
                <div class="msg-sidebar notifications msg-noti">
                    <div class="topnav-dropdown-header">
                        <span>Messages</span>
                    </div>
                    <div class="drop-scroll msg-list-scroll">
                        <ul class="list-box">
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">R</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Richard Miles </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item new-message">
                                        <div class="list-left">
                                            <span class="avatar">J</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Ruth C. Gault</span>
                                            <span class="message-time">1 Aug</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">T</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Tarah Shropshire </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">M</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Mike Litorus</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">C</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Catherine Manseau </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">D</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Domenic Houston </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">B</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Buster Wigton </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">R</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Rolland Webber </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">C</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Claire Mapes </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">M</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Melita Faucher</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">J</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Jeffery Lalor</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">L</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Loren Gatlin</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">T</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Tarah Shropshire</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="chat.html">See all messages</a>
                    </div>
                </div>
            </div>
</body>

</html>