<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
 <head>
    <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
</head>
<body>
	<div layout:fragment="content">
               <div class="row">
                 <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget dash-widget5">
                            <span class="dash-widget-icon bg-primary"><i class="fa fa-users" aria-hidden="true"></i></span>
                            <div class="dash-widget-primary">
                                <h3 th:text="${@demandeAService.TotalAbsence()}"></h3>
                                <span>Demandes Abs</span>
                            </div>
                        </div>
                    </div>
                   <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget dash-widget5">
                            <span class="dash-widget-icon bg-primary"><i class="fa fa-users" aria-hidden="true"></i></span>
                            <div class="dash-widget-primary">
                                <h3 th:text="${@demandeAService.TotalDmeDocs()}"></h3>
                                <span>Demandes Docs</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget dash-widget5">
                            <span class="dash-widget-icon bg-primary"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
                            <div class="dash-widget-primary">
                                <h3 th:text="${@agtService.TotalAgents()}"></h3>
                                <span>Agents</span>
                            </div>
                        </div>
                    </div>
                      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget dash-widget5">
                            <span class="dash-widget-icon bg-primary"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
                            <div class="dash-widget-primary">
                                <h3 th:text="${@mouvementService.TotalAffectation()}"></h3>
                                <span>Affectations</span>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="row">
					<div class="col-lg-12">
						<div class="content-page">
							<div class="page-title">Annuaires téléphoniques des agents</div>
							<div class="table-responsive">
								<table class="table table-striped custom-table">
									<thead>
									<tr>
										<th style="min-width:160px;">Nom</th>
										<th style="min-width:110px;">Prenom</th>
										<th style="min-width:100px;">Structure</th>
										<th style="min-width:100px;">Fixe</th>
										<th style="min-width:160px;">Tel</th>
									</tr>
									</thead>
									<tbody>
									<tr>
									<tr th:each="agt:${agents}">
										<td>
											<h2><a href="profile.html" class="avatar text-white" th:text="${agt.agtNom.charAt(0)}"></a></h2>
											<h2><a href="profile.html" th:text="${agt.agtNom}"><span></span></a></h2>
										</td>
										<td th:text="${agt.agtPrenom}">1</td>
										<td th:text="${agt.agtStructure.display()}">1</td>
										<td th:text="${agt.agtFixeNumber}">1</td>
										<td th:text="${agt.agtTel}">1</td>
									</tr>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
	</div>
</body>

</html>