
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8">
</head>
<body>
	<div layout:fragment="content">
		<div class="content container-fluid">
		<div class="page-header">
				<div class="row">
					<div class="col-lg-7 col-md-12 col-sm-12 col-12">
						<h5 class="text-uppercase">Modifier Agents</h5>
					</div>
					<div class="col-lg-5 col-md-12 col-sm-12 col-12">
						<ul class="list-inline breadcrumb float-right">
							<li class="list-inline-item"><a th:href="@{/agents/update}">Home</a></li>
							<li class="list-inline-item"><a href="#">Modifier</a></li>
							<li class="list-inline-item">Consulter</li>
						</ul>
					</div>
				</div>
			</div>
			<form method="post" th:action="@{/agents/update(id=${agents.agtId})}"
				th:object="${agents}">
				<div class="page-content">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-12">

										     <input type="number" name="agtId" hidden="hidden" th:field="*{agtId}" />
											<div class="form-group custom-mt-form-group">
												<input type="text" name="agtNom" th:field="*{agtNom}"
													th:value="${agents.agtNom}" /> <label
													class="control-label">Nom</label><i class="bar"></i>
											</div>
											<div class="form-group custom-mt-form-group">
												<input type="date" name="agtDateNaiss"
													th:field="*{agtDateNaiss}"
													th:value="${agents.agtDateNaiss}" /> <label
													class="control-label">Date de naissance</label><i
													class="bar"></i>
											</div>
											<div class="form-group custom-mt-form-group">
												<input type="text" name="agtEmail" th:field="*{agtEmail}"
													th:value="${agents.agtEmail}" /> <label
													class="control-label">Email</label><i class="bar"></i>
											</div>
											<div class="form-group custom-mt-form-group">
												<input type="text" name="agtPasswword"
													th:field="*{agtPasswword}"
													th:value="${agents.agtPasswword}" hidden="hidden" /> <label
													class="control-label">Mot de passe</label><i class="bar"></i>
											</div>
											<div class="form-group custom-mt-form-group">
												<input name="agtGenre" th:field="*{agtGenre}"
													th:value="${agents.agtGenre}"> <label
													class="control-label">Genre</label><i class="bar"></i>
											</div>
											<div class="form-group custom-mt-form-group">
												<input type="text" name="agtFonction"
													th:field="*{agtFonction}" th:value="${agents.agtFonction}" />
												<label class="control-label">Fonction</label><i class="bar"></i>
											</div>
											<div class="form-group custom-mt-form-group">
												<input type="number" name="agtTel" th:field="*{agtTel}"
													th:value="${agents.agtTel}" /> <label
													class="control-label">Téléphone</label><i class="bar"></i>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-12">
											<div class="form-group custom-mt-form-group">
												<input type="text" name="agtPrenom" th:field="*{agtPrenom}"
													th:value="${agents.agtPrenom}" /> <label
													class="control-label">Prenom</label><i class="bar"></i>
											</div>
											<div class="form-group custom-mt-form-group">
												<input type="text" name="agtNationnalite"
													th:field="*{agtNationnalite}"
													th:value="${agents.agtNationnalite}" /> <label
													class="control-label">Nationnalité</label><i class="bar"></i>
											</div>
											<div class="form-group custom-mt-form-group">
												<input type="text" name="agtSituationMatri"
													th:field="*{agtSituationMatri}"
													th:value="${agents.agtSituationMatri}" /> <label
													class="control-label">Situation Matrimoniale</label><i
													class="bar"></i>
											</div>
											<div class="form-group custom-mt-form-group">
												<input type="text" name="agtFonction"
													th:field="*{agtPasswword}"
													th:value="${agents.agtPasswword}" hidden="hidden" /> <label
													class="control-label">Confirmation du mot de passe</label><i
													class="bar"></i>
											</div>

											<div class="form-group custom-mt-form-group">
												<input type="text" name="agtGrade" th:field="*{agtGrade}"
													th:value="${agents.agtGrade}" /> <label
													class="control-label">Grade</label><i class="bar"></i>
											</div>
											<div class="form-group custom-mt-form-group">
												<input type="text" name="agtAdresse"
													th:field="*{agtAdresse}" th:value="${agents.agtAdresse}" />
												<label class="control-label">Adresse</label><i class="bar"></i>
											</div>
											<div class="form-group custom-mt-form-group">
												<input type="text" name="agtService"
													th:field="*{agtService}"
													th:value="${agents.agtService}" /> <label
													class="control-label">Service</label><i class="bar"></i>
											</div>
											
											
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12 col-12">
											<div class="form-group custom-mt-form-group">
												<input type="file" name="pic" accept="image/*"
													style="margin-bottom: 10px;"> <label
													class="control-label"></label><i class="bar"></i>
											</div>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12 col-12">
							
											<div class="form-group text-center">
												<button class="btn btn-primary mr-2" type="submit">Submit</button>
											</div>
							        	</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

</body>

</html>






