<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <title>Gestion du personnel</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/fullcalendar.min.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/select2.min.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/bootstrap-datetimepicker.min.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/plugins/morris/morris.css}">
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

