<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>
    <div class="main-wrapper">
        <div class="header" th:fragment="header"> <!-- Header start -->
            <div class="header-left">
                <a th:href="@{/agents/index}" class="logo">
             <img th:src="@{/assets/img/logo_dgmp.png}"  width="150" height="60" alt="">
                </a>
            </div>
            <div class="page-title-box float-left">
              <h3 class="text-uppercase">DGMP</h3>
            </div>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars" aria-hidden="true"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown d-none d-sm-block">
                    <a th:href="@{/demandes/detailDemandes}"  class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="fa fa-bell"></i> <span class="badge badge-pill bg-primary float-right" th:text="${@dmeRep.countByDmeDestination_StrId(@scs.getCurrentAss().getAssStruct().getStrId())}">5</span></a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                        </div>
                        <div class="drop-scroll">
                            <span >Notifications</span>
                            <ul class="notification-list" th:each="detail:${@dmeRep.getListDmeSentToStrDer(@scs.getCurrentAss().getAssStruct().getStrId())}">
                                <li class="notification-message">
                                    <a th:href="@{/demandes/DemandeAdressees}">
                                        <div class="media">
											<span class="avatar" th:text="${detail.dmeDemandeur.getAgtNom().charAt(0)}"></span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title" th:text="${detail.dmeDemandeur.display()}" ></span> sent you</p>
                                                <p class="noti-details"><span class="noti-title" th:text="${detail.dmeType.typNom}" ></span> sent you</p>
												<p class="noti-time"><span class="notification-time" th:text="${detail.getDmeDate()}"></span></p>
<!--                                                <div th:if="${detail.traitement.getTraiAgtTraiteur()}">-->
<!--                                                    <p class="noti-time"><span class="notification-time" th:text=" 'demande visée par: ' + ${detail.traitement.getTraiAgtTraiteur().display()}"></span></p>-->
<!--                                                </div>-->
											</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
							<span class="status online"></span></span>
                        <span th:text="'Agent ' + ${@scs.getAuthUsername()}"  ></span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
                        <a class="dropdown-item" href="/agents/gotoChangeAss">Changer de profile</a>
						<a class="dropdown-item" th:href="@{/agents/logout}">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right"> <!-- mobile menu -->
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
                    <a class="dropdown-item" href="/agents/gotoChangeAss">Changer de profile</a>
                    <a class="dropdown-item" href="/agents/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>    
</body>

</html>