<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <title>Gestion du Personnel</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/select2.min.css}">
    <!--[if lt IE 9]>
    <script th:src="@{/assets/js/html5shiv.min.js}"></script>
    <script th:src="@{/assets/js/respond.min.js}"></script>
    <![endif]-->
</head>
<body>
    <div class="main-wrapper">
        <th:block th:replace="layout/header-frag.html::header"></th:block>
        <div class="page-wrapper" >
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div layout:fragment="content">

                        </div>
                    </div>
                </div>
            </div>
            <th:block th:replace="layout/sidebar-frag.html::sidebar"></th:block>
            <th:block th:replace="layout/topbar-frag.html::topbar" ></th:block>
        </th:block>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
        <script type="text/javascript" th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/popper.min.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/jquery.dataTables.min.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/dataTables.bootstrap4.min.js}"></script>
        <script type="text/javascript"th:src="@{/assets/js/jquery.slimscroll.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/select2.min.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/moment.min.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/bootstrap-datetimepicker.min.js}"></script>
        <script type="text/javascript" th:src="@{/assets/plugins/morris/morris.min.js}"></script>
        <script type="text/javascript" th:src="@{/assets/plugins/raphael/raphael-min.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/fullcalendar.min.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/jquery.fullcalendar.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/chart.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/app.js}"></script>
        <div layout:fragment="specific-js-dependancies">
    </div>
    </div>
</body>
</html>