<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
</head>
<div class="sidebar" id="sidebar" th:fragment="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="active">
                        <a th:href="@{/agents/index}"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fa fa-user" aria-hidden="true"></i> <span>Gérer Personnel</span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled" style="display: none;">
                            <li th:if="${@scs.hasAnyAuthority('RH')}"><a th:href="@{/agents/GoToaddAgent}">Ajouter un agent</a></li>
                            <li th:if="${@scs.hasAnyAuthority('RH', 'RESPONSABLE', 'SECRETAIRE')}"><a th:href="@{/agents/GoToListeAgent}">Liste des agents</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fa fa-user" aria-hidden="true"></i> <span>Gérer Structures</span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled" style="display: none;">
                            <li><a th:href="@{/structures/goToSaveForm}">ajouter une structure</a></li>
                            <li><a th:href="@{/structures/organisation}">Organisation</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fa fa-columns" aria-hidden="true"></i> <span>Demander Absence</span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled" style="display: none;">
                            <li><a th:href="@{/demandes/GoToFormDemande}">Congé et Autorisation</a></li>
                            <li><a th:href="@{/demandes/GoToFormDemandeSortie}">Sortie du territoire</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fa fa-columns" aria-hidden="true"></i> <span>Demander Docs A</span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled" style="display: none;">
                            <li><a th:href="@{/demandes/FormDemandeDoc}">Formulaire</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fa fa-columns" aria-hidden="true"></i> <span>Mes demandes</span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled" style="display: none;">
                            <li><a th:href="@{/demandes/ListeDemande}">Table</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fa fa-columns" aria-hidden="true"></i> <span>Demandes Adressées </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled" style="display: none;">
                            <a th:if="${@scs.hasAnyAuthority('RH', 'RESPONSABLE', 'SECRETAIRE')}" th:href="@{/demandes/DemandeAdressees}">Listes</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
</div>
</body>
</html>