<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">

<head>
<meta charset="utf-8">
</head>
<body>
	<div layout:fragment="content">
		<div class="row mt-2">
			<div class="col-lg-12">
				<div class="content-page">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="page-title mb-2">
								<form method="get" th:action="@{/agents/search}">
									<div class="form-group">
										<input type="text" name="keyword" id="id"
											th:value="${keyword}">
										<button type="submit" class="btn btn-primary">chercher</button>
									</div>
								</form>
							</div>
							<div class="table-responsive">
								<table class="table table-striped custom-table">
									<thead class="thead-light">
										<tr>
											<th style="min-width: 50px;">Nom</th>
											<th style="min-width: 74px;">Prenom</th>
											<th style="min-width: 50px;">Date_naissance</th>
											<th style="min-width: 98px;">Nationalité</th>
											<th style="min-width: 98px;">Genre</th>
											<th style="min-width: 98px;">Email</th>
											<th style="min-width: 98px;">Adresse</th>
											<th style="min-width: 98px;">Tel</th>
											<th style="min-width: 98px;">Situation M</th>
											<th style="min-width: 50px;">Fonction</th>
											<th style="min-width: 98px;">Grade</th>
											<th style="min-width: 98px;">Service</th>
											<th style="min-width: 98px;">Consulter</th>
											<th class="text-right">Modifier/Supprimer</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="p:${agent}">
											<td th:text="${p.agtNom}">
											<td th:text="${p.agtPrenom}"></td>
											<td th:text="${p.agtDateNaiss}"></td>
											<td th:text="${p.agtNationnalite}"></td>
											<td th:text="${p.agtGenre}"></td>
											<td th:text="${p.agtEmail}"></td>
											<td th:text="${p.agtAdresse}"></td>
											<td th:text="${p.agtTel}"></td>
											<td th:text="${p.agtSituationMatri}"></td>
											<td th:text="${p.agtFonction}"></td>
											<td th:text="${p.agtGrade}"></td>
											<td th:text="${p.agtService}"></td>
											<td><a
												th:href="@{/agents/goToConsult(idAgent=${p.agtId})}"
												class="btn btn-success btn-sm mb-1 colore"> <i
													class="fa fa-pencil" aria-hidden="true"></i>
											</a></td>
											<td>
												<h2>
													<a th:href="@{/agents/gotoUpdateForm(id=${p.agtId})}"
														class="btn btn-primary btn-sm mb-1"> <i
														class="fa fa-pencil" aria-hidden="true"></i>
													</a>
												</h2> <a th:href="@{/agents/delete(idAgent=${p.agtId})}"
												class="btn btn-danger btn-sm mb-1 action"> <i
													class="fa fa-trash" aria-hidden="true"></i>
											</a>
											</td>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>