<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">

<head>
    <meta charset="utf-8">
</head>
<body>
<div layout:fragment="content">
      <h3>Sous-direction et Services associés</h3>
    <table class="table">
        <thead class="thead-light">
            <th scope="col">
             <a  data-toggle="modal" data-target="#exampleModal">lISTE DU PERSONNEL</a>
            </th>
        </thead>
    </table>
  <div th:each="S:${sousTutelleDirecte}">
    <div id="accordion">
        <div class="card">
            <div class="card-header" th:id="'headingOne_'+${S.strId}">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" th:data-target="'#collapseOne_'+${S.strId}" aria-expanded="true" th:aria-controls="'collapseOne_'+${S.strId}"  th:text="${S.display()}">
                    </button>
                </h5>
            </div>

            <div th:id="'collapseOne_'+${S.strId}" class="collapse show" th:aria-labelledby="'headingOne_'+${S.strId}" data-parent="#accordion">
                 <div th:each="ST:${S.getStrStructuresFilles()}">
                     <div class="card-body" th:text="${ST.display()}">
                 </div>

                </div>
            </div>
        </div>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel" th:text="'liste du personnel de la ' + ${strMere.display()}"></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <div class="table-responsive">
                          <table class="table table-striped custom-table">
                              <thead>
                              <tr>
                                  <th style="min-width:50px;">Nom</th>
                                  <th style="min-width:74px;">Prenom</th>
                                  <th style="min-width:50px;">Matricule</th>
                                  <th style="min-width:50px;">Tel</th>
                                  <th style="min-width:98px;">Adresse</th>
                                  <th style="min-width:90px;">Service</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr th:each="agt:${allAgtByStrId}">
                                  <td>
                                      <h2><a href="profile.html" class="avatar text-white" th:text="${agt.agtNom.charAt(0)}"></a></h2>
                                      <h2><a href="profile.html"><span th:text="${agt.agtNom}"></span></a></h2>
                                  </td>
                                  <td th:text="${agt.agtPrenom}">1</td>
                                  <td th:text="${agt.agtMatricule}">1</td>
                                  <td th:text="${agt.agtTel}">1</td>
                                  <td th:text="${agt.agtAdresse}">1</td>
                                  <td th:text="${agt.agtStructure.display()}">1</td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
</div>
</body>
</html>