<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
<link
	href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/SuccessSaveStyle.css}">
</head>
<body>

	<div class="carde">
		<div style="border-radius: 200px; height:150px; width: 150x; margin: 0 auto;">
			<i class="checkmark">✓</i>
		</div>
		<div th:if="${demande}">
			<h3 th:text=" ${demande.dmeType.getTypNom()} + ' ' +'enregistrée avec succès!' "></h3>
		</div>
		<div class="text-center">
		   <a th:href="@{/demandes/goToListeDemande}"><button class="soumettre" type="submit">Liste demande</button> </a>
	    </div>
    </div>
</body>
</html>
