<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8">
</head>
<body>
	<div layout:fragment="content">
           				<div class="row mt-2">
					<div class="col-lg-12">
						<div class="content-page">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-12">
									<div class="page-title mb-2">
									  Liste de vos demandes
									</div>
									<div class="table-responsive">
										<table class="table table-striped custom-table">
											<thead>
												<tr>
													<th  scope="row" style="min-width:50px;">Demandeur</th>
													<th  scope="row" style="min-width:50px;">Type</th>
													<th style="min-width:74px;">Date</th>
													<th scope="row" style="min-width:50px;">Etat</th>
													<th > </th>
													<th >Modifier</th>
													<th class="spaces">Soumettre</th>
                                                </tr>
											</thead>
											<tbody>
												<tr th:each="d:${demandes}" th:class="${@demandeController.getBootstrapClass(d)}">
												<td th:text="${d.dmeDemandeur==null ? '' : d.dmeDemandeur.display()}">
											    <td th:text="${d.dmeType.getTypNom()}">
												<td th:text="${d.dmeDate}">
												 <td th:text="${d.dmeEtat}"/>
													<td class="text-right" style="min-width: 98px;">
														<a th:if="${d.dmeEtat.name()=='INITIE'}" href="edit-student.html" class="btn btn-warning  btn-sm mb-1">
															<i class="fa fa-pencil colores" aria-hidden="true"></i>
														</a>
													</td>
											 		<td style="margin-right: 60px";>
                                                        <a th:href="@{'/demandes/traitements/soumission?dmeId=' + ${d.dmeId}}" class="btn btn-succes colore  btn-sm mb-1">
														<i class="fa fa-check " aria-hidden="true"></i>
														</a>
												   </td>
												</tr>
												<tr>
													
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					 </div>       
				</div>		
	</div>

</body>

</html>